@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model SignRequestExpress.Models.AccountViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<br />

<h2>Login <small>with existing account</small></h2>

<!--TODO: Implement forgot password, 2fa, other account options-->

<div class="card account-div">
    <div class="card-header">
        <h5 class="card-title">Enter login credentials for access</h5>
    </div>
    <div class="card-body">
        <form asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Username">Username</label>
                <input type="text" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>            

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RememberMe">Remember Me</label>
                <input type="checkbox" asp-for="RememberMe"/>
                <span asp-validation-for="RememberMe" class="field-validation-error"></span>
            </div>

            <button class="btn btn-primary" type="submit">Log in</button>

            <br />
            <br />

            <p>
                <a asp-action="Register">Register as a new user?</a>
            </p>
        </form>        
    </div>
</div>           