@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model SignRequestExpress.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<br />

<h2>Register <small>for access to SRE</small></h2>

<!-- TODO: Update form to have columns, instead of just straight down the page -->

<div class="card account-div">
    <div class="card-header">
        <h5 class="card-title">Create a new account</h5>
    </div>
    <div class="card-body">
        <form asp-controller="Account" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input type="text" asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input type="text" asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Username"></label>
                <input type="text" asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input type="tel" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccessCode"></label>
                <input type="text" asp-for="AccessCode" class="form-control" />
                <span asp-validation-for="AccessCode" class="text-danger"></span>
            </div>

            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>
