@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Sales Home";
    Layout = "_Layout";
}

<p>@ViewData["apiUrl"]</p>

<h4>Thank you for registering for Sign Request Express.</h4>
<p>To unlock all the features of your account, please contact the developer at michael.poust221@gmail.com to activate your account. A more streamlined account activation process is currently under development, thank you for your patience.</p>

<p><i>If you would like to view the project proposal for this application, visit this <a href="https://www.dropbox.com/s/p3mwc0e2k1wf9gr/cit498-proposal-final_mpoust.pdf?dl=0" class="dark-links" target="_blank">DropBox</a> link.</i></p>
