@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Future Feature</h1>
        <p class="lead">The functionality of this tab will be implemented in the future.</p>
        <hr class="my-4" />
        <p class="lead">Sign Shop employees will be able to manage the Accounts (Bars, Taverns, ect.) that Sales associates have in their territory and transfer them to another Associate if necessary.</p>
    </div>
</div>
