@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@using Hanssens.Net
@{

}

@*<div class="table-responsive">
    <table class="table" id="requestTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Request Num</th>
                <th scope="col">Status</th>
                <th scope="col">Associate</th>
                <th scope="col">Media</th>
                <th scope="col">Quantity</th>
                <th scope="col">Dimensions</th>
                <th scope="col">Brand</th>
                <th scope="col">Date Submitted</th>
                <th scope="col">Date Updated</th>
            </tr>
        </thead>
    </table>
</div>*@

<div class="container" id="queue-table"><!--Data Rendered with Tabulator--></div>



