@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{
    ViewData["Title"] = "Sign Shop Home";
    Layout = "_Layout";
}

@section Links{
    <link rel="stylesheet" href="~/lib/tabulator.css" />
}

<br />

<h1>Sign Shop Dashboard <small>- Manage Sign Creation</small></h1>

<br />

<div class="card">
    <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs nav-fill" id="signshopTab" role="tablist">

            <li class="nav-item">
                <a class="nav-link active tab-link" id="queue-tab" data-toggle="tab" role="tab" href="#queueTab" aria-controls="queueTab" aria-selected="true"><b>Request Queue</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link tab-link" id="prev-tab" data-toggle="tab" role="tab" href="#prevTab" aria-controls="prevTab" aria-selected="false"><b>Request Archive</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link tab-link" id="log-tab" data-toggle="tab" role="tab" href="#logTab" aria-controls="logTab" aria-selected="false"><b>Request Logs</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link tab-link" id="template-tab" data-toggle="tab" role="tab" href="#templateTab" aria-controls="templateTab" aria-selected="false"><b>Templates</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link tab-link" id="standard-tab" data-toggle="tab" role="tab" href="#standardTab" aria-controls="standardTab" aria-selected="false"><b>Standards</b></a>
            </li>

            <li class="nav-item">
                <a class="nav-link tab-link" id="account-tab" data-toggle="tab" role="tab" href="#accountTab" aria-controls="accountTab" aria-selected="false"><b>Account Management</b></a>
            </li>




        </ul>

    </div>

    <div class="card-body">
        <div class="tab-content" id="signshopTabContent">
            <div class="tab-pane fade show active" id="queueTab" role="tabpanel" aria-labelledby="queue-tab">
                <partial name="_RequestQueuePartial" />
            </div>

            <div class="tab-pane fade" id="prevTab" role="tabpanel" aria-labelledby="prev-tab">
                <partial name="_RequestArchivePartial" />
            </div>

            <div class="tab-pane fade" id="logTab" role="tabpanel" aria-labelledby="log-tab">
                <partial name="_RequestLogSignShopPartial" />
            </div>

            <div class="tab-pane fade" id="templateTab" role="tabpanel" aria-labelledby="template-tab">
                <partial name="_BrandTemplatePartial" />
            </div>

            <div class="tab-pane fade" id="standardTab" role="tabpanel" aria-labelledby="standard-tab">
                <partial name="_BrandStandardPartial" />
            </div>

            <div class="tab-pane fade" id="accountTab" role="tabpanel" aria-labelledby="account-tab">
                <partial name="_AccountManagementSignShopPartial" />
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/lib/tabulator.js"></script>
    <script type="text/javascript" src="~/lib/tabulator-module/ajax.js"></script>

    <script>
        $(document).ready(function () {
            //var table = new Tabulator("#example-table", {
            //    height: 205, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
            //    data: tabledata, //assign data to table
            //    layout: "fitColumns", //fit columns to width of table (optional)
            //    columns: [ //Define Table Columns
            //        { title: "Name", field: "name", width: 150 },
            //        { title: "Age", field: "age", align: "left", formatter: "progress" },
            //        { title: "Favourite Color", field: "col" },
            //        { title: "Date Of Birth", field: "dob", sorter: "date", align: "center" },
            //    ],
            //    rowClick: function (e, row) { //trigger an alert message when the row is clicked
            //        alert("Row " + row.getData().id + " Clicked!!!!");
            //    },
            //});

            var table = new Tabulator("#queue-table", {
                height: 250,
                columns: [
                    { title: "Request Num", field: "requestNumber" },
                    { title: "Status", field: "status" },
                    //{ title: "Associate", field: } //TODO: need to get associate mapped
                    { title: "Media", field: "mediaFK" },
                    { title: "Quantity", field: "quantity" },
                    //{ title: "Dimensions", field: ""} //TODO: map dimensions
                    //{ title: "Brand", } // TODO: map brand
                    { title: "Width (inch)", field: "widthInch" },
                    { title: "Height (inch)", field: "heightInch" },
                    { title: "Proof Required", field: "isProofNeeded" }, //TODO: mutate to yes/no // TODO: add a proof status
                    { title: "Date Submitted", field: "requestedDate" },
                    //{ title: "Date Updated", field: ""} //TODO: send updated date
                    //{title: }
                ],
                ajaxConfig: "POST",
                ajaxURL: "/SignShop/GetQueueRequests",
            });
        });
    </script>
}