@{
    ViewData["Title"] = "About SRE";
}

<br />

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><i>To view the full project proposal for SRE visit this <a href="https://www.dropbox.com/s/p3mwc0e2k1wf9gr/cit498-proposal-final_mpoust.pdf?dl=0" class="dark-links" target="_blank">DropBox</a> link. If this doesn't answer your question feel free to contact the developer at michael.poust221@gmail.com</i></p>

<p>Sign Request Express, "SRE," is created by Michael Poust for his Fall 2018 Senior Project 
    class (CIT498) at the Pennsylvania College of Technology.</p>

<p>To see what SRE can do, feel free to test the Demo accounts listed below in the format of 'Username / Password'</p>
<ul>
    <li>DemoSales1 / Password123!</li>
    <li>DemoSales2 / Password123!</li>
    <li>DemoManager / Password123!</li>
    <li>DemoSignShop / Password123!</li>
</ul>

<p>There are three (3) account types to SRE. The Sales users can submit sign requests, and track their production. The Manager users can approve submitted requests for production which then places the request in a queue for the Sign Shop users who may then process the requests by entering them into the print queue or marking them as printed. When marked as printed the Sales associates may pick up their requests for delivery.</p>
