@{
    ViewData["Title"] = "About SRE";
}

<br />

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sign Request Express, "SRE," is created by Michael Poust for his Fall 2018 Senior Project 
    class (CIT498) at the Pennsylvania College of Technology.</p>

<p><i>Add description about SRE itself.</i></p>
