@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home";
}

<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    -->

<br />

<div class="jumbotron">
    <div class="container">
        <img src="~/images/logo.svg" class="image-fluid home-image" alt="image test" />

        <hr class="my-4" />
        <p>This application is created by Michael Poust for his Software Development senior project, during the Fall 2018 semester. See the <a asp-area="" asp-controller="Home" asp-action="About" class="dark-links">'About'</a> page to learn more.</p>
    </div>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Dashboard</h5>
                        <p class="card-text">Return to your dashboard to continue optimizing your Sign Request workflow.</p>
                        @if (User.IsInRole("Sales"))
                        {
                            <a asp-controller="Sales" asp-action="Index" class="btn btn-orange">Dashboard</a>
                        }
                        else if (User.IsInRole("Executive"))
                        {
                            <a asp-controller="Executive" asp-action="Index" class="btn btn-orange">Dashboard</a>

                        }
                        else if (User.IsInRole("Administrator"))
                        {
                            <a asp-controller="Administrator" asp-action="Index" class="btn btn-orange">Dashboard</a>
                        }
                        else if (User.IsInRole("SignShop"))
                        {
                            <a asp-controller="SignShop" asp-action="Index" class="btn btn-orange">Dashboard</a>
                        }
                        else
                        {
                            <a asp-controller="Default" asp-action="Index" class="btn btn-orange">Dashboard</a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Have a problem?</h5>
                        <p class="card-text">Visit the <a asp-area="" asp-controller="Home" asp-action="Help" class="dark-links">'Help'</a> page for common issues or fill out the contact form with your problem.</p>
                        <a asp-controller="Home" asp-action="Contact" class="btn btn-orange">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Get started</h5>
                        <p class="card-text">Register an account to start optimizing your Sign Request workflow.</p>
                        <a asp-controller="Account" asp-action="Register" class="btn btn-orange">Register</a>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Have an account?</h5>
                        <p class="card-text">Login to access your dashboard and explore the many features of your account.</p>
                        <a asp-controller="Account" asp-action="Login" class="btn btn-orange">Login</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <br />
            <!--TODO: Make subject auto fill when accessed from this link-->
            <p>Want SRE at your organization? Fill out the <a asp-controller="Home" asp-action="Contact" class="dark-links">'Contact'</a> form to receive more information.</p>
        </div>


        
    }
</div>


