@{
    ViewData["Title"] = "Privacy Policy";
}

<br />

<h2>@ViewData["Title"]</h2>

<p><i>Application still under development. Privacy policy coming soon. For immediate questions, contact the developer at michael.poust221@gmail.com</i></p>
