
@{
}

<br />

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Future Feature</h1>
        <p class="lead">The functionality of this tab will be implemented in the future.</p>
    </div>
</div>