@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model SignRequestExpress.Models.PostModels.SignRequestModel
@{
}

<!--TODO: Add Question Marks for user questions-->



<form asp-controller="Sales" asp-action="SubmitRequest" method="post" novalidate>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-row">
        <div class="col-lg-6">
            <label asp-for="AccountName" class="formLabel"></label>
            <select asp-for="AccountName" class="form-control">
                <option selected disabled>Select Account</option>
                <!--TODO: Add Iconic too create Addition button for a new account -->
                @if (ViewBag.AccountList != null)
                {
                    foreach (var item in ViewBag.AccountList)
                    {
                        <option>@item.ToString()</option>
                    }
                }
            </select>
        </div>
        <div class="col-md">
            <label asp-for="NeededDate" class="formLabel"></label>
            <input asp-for="NeededDate" class="form-control" />
            <span asp-validation-for="NeededDate" class="text-danger"></span>
        </div>
        <div class="col-md">
            <label for="dateRequestedStatic" class="formLabel">Date Requested:</label>
            <input type="text" readonly class="form-control" id="dateRequestedStatic"
                   value="@DateTime.Now.ToShortDateString()" />
            <!-- TODO: Make the date not look weird on mobile view-->
        </div>        
    </div>    

    <div class="form-row">
        <div class="col-md">
            <label asp-for="Reason" class="formLabel"></label>
            <input asp-for="Reason" type="text" class="form-control" placeholder="Reason" />
        </div> 
        <div class="col-md">
            <label asp-for="MediaString" class="formLabel"></label>
            <select asp-for="MediaString" class="custom-select form-control">
                <!--TODO: Store on client device - would sqlite work?-->
                <option selected disabled>Media Type</option>
                <option>Adhesive</option>
                <!--TODO: Option appears if selected for Corr-Plast -- jQeury, Angular?-->
                <option>Photo Glossy</option>
                <option>Matte Outdoor</option>
                <option>Plasticore</option>
                <!--TODO: Option appears if selected for Lighted -- accomplished with jQuery? Angular-->
            </select>
        </div>
    </div>

    <div class="form-row">
        <!--TODO: Figure out how to disable form elements based off other's selection-->
        <div class="col-sm-2">
            <label asp-for="Quantity" class="formLabel"></label>
            <input asp-for="Quantity" class="form-control" type="number" value="1" min="0" max="100" />
        </div>
        <div class="col-sm-4">
            <label asp-for="HeightInch" class="formLabel"></label>
            <input asp-for="HeightInch" class="form-control" type="number" placeholder="Height" step="0.05" min="0.25" max="500" />
        </div>
        <div class="col-sm-4">
            <label asp-for="WidthInch" class="formLabel"></label>
            <input asp-for="WidthInch" class="form-control" type="number" placeholder="Width" step="0.05" min="0.25" max="500" />
        </div>
        <div class="col-sm4">
            <!--TODO: orientation auto switch-->
            <label for="signOrientation" class="formLabel">Orientation:</label>
            <!-- 
                <div class="col-auto form-inline">
                    <!--TODO: Auto populate checkbox, and switch values of heigh and width if opposite is selected
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="horizontalCheckbox" value="option1" />
                        <label class="form-check-label" for="horizontalCheckbox">Horizontal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="verticalCheckbox" value="option2" />
                        <label class="form-check-label" for="verticalCheckbox">Vertical</label>
                    </div>
                </div> -->
        </div>
    </div>

    <div class="form-row">
        <div class="col-lg-6">
            <label for="templateBrand" class="formLabel">Brand:</label>
            <select class="custom-select form-control" id="templateBrand">
                <option selected disabled>Select Brand</option>
                @if (ViewBag.BrandList != null)
                {
                    foreach (var item in ViewBag.BrandList)
                    {
                        <option>@item.ToString()</option>
                    }
                }
            </select>
        </div>
        <div class="col-md">
            <label asp-for="Template" class="formLabel"></label>
            <p><i>TODO: Template</i></p>
            <!--TODO: Create Modal? image gallery popup with templates from the selected brand-->
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <label asp-for="ImageUri" class="formLabel"></label>
            <p><i>TODO: Account Logo</i></p>
            <!--TODO: Create Yes/No include account logo if there is one on file?-->
        </div>
        <div class="col">
            <label asp-for="DataFileUri" class="formLabel"></label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label asp-for="Information" class="formLabel"></label>
                <!--TODO: Insert sign request form information, include in help as well. CREATE jump? LINK TO HELP-->
                <textarea asp-for="Information" class="form-control" id="detailsTextarea" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <button class="btn btn-primary" type="submit">Submit Request</button>
        </div>
        <div class="col form-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="proofCheck" />
                <label class="form-check-label" for="proofCheck">Proof Needed Before Print</label>
            </div>
        </div>
    </div>
    <!--TODO: Form refresh button-->
</form>