
@{
}

<!--TODO: Add Question Marks for user introspection-->

<!--TODO: Add Labels for everything - that way it lines up better on mobile views-->


<form asp-controller="Sales" asp-action="SubmitRequest" role="form">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-row">
        <div class="col">
            <select class="custom-select form-control">
                <option selected disabled>Select Account</option>                
                <!--TODO: Dynamically fill with User's accounts-->
                <!--TODO: Add Iconic too create Addition button for a new account -->
            </select>
        </div>
        <div class="col form-control">
            <label><b>Requested Date:</b> @DateTime.Now.ToShortDateString()</label>
            <!-- TODO: Make the date not look weird on mobile view-->
        </div>
    </div>

    <br />

    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Reason" />
        </div>
        <div class="col form-control">
            <label><b>Date Needed:</b></label> <!--TODO: Configure a DatePicker-->
        </div>
    </div>

    <br />

    <div class="form-row"> <!--TODO: Figure out how to disable form elements based off other's selection-->
        <div class="col">
            <select class="custom-select form-control">
                <option selected disabled>Media Type</option>
                <option>Adhesive</option>
                <!--TODO: Option appears if selected for Corr-Plast-->
                <option>Photo Glossy</option>
                <option>Matte Outdoor</option>
                <option>Plasticore</option>
                <!--TODO: Option appears if selected for Lighted-->
            </select>
        </div>
        <div class="col-auto form-inline">
            <label for="number-input">Quantity:</label>
            <input class="form-control" type="number" value="1" min="0" max="100" id="number-input" />
        </div>
        <div class="col form-inline">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="proofCheck" />
                <label class="form-check-label" for="proofCheck">Proof Needed Before Print</label>
            </div>
        </div>
    </div>

    <br />

    <div class="form-row">
        <div class="col-auto form-inline">
            <label for="height-inch">Height (in inches):</label>
            <input class="form-control" type="number" placeholder="Height" step="0.05" min="0.5" max="500" id="height-inch" />
        </div>
        <div class="col-auto form-inline">
            <label for="width-inch">Width (in inches):</label>
            <input class="form-control" type="number" placeholder="Width" step="0.05" min="0.5" max="500" id="width-inch" />
        </div>
        <div class="col-auto form-inline">
            <!--TODO: Auto populate checkbox, and switch values of heigh and width if opposite is selected-->
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="horizontalCheckbox" value="option1" />
                <label class="form-check-label" for="horizontalCheckbox">Horizontal</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="verticalCheckbox" value="option2" />
                <label class="form-check-label" for="verticalCheckbox">Vertical</label>
            </div>
        </div>
    </div>

    <br />

    <div class="form-row">
        <div class="col">
            <select class="custom-select form-control">
                <option selected disabled>Select Brand</option>
                <!--TODO: Dynamically fill with supported brands-->
            </select>
        </div>
        <div class="col">
            <p><i>TODO: Template</i></p>
            <!--TODO: Create Modal? image gallery popup with templates from the selected brand-->
        </div>
    </div>

    <br />

    <div class="form-row">
        <div class="col">
            <p><i>TODO: Account Logo</i></p>
            <!--TODO: Create Yes/No include account logo if there is one on file?-->
        </div>
        <div class="col">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </div>

    <br />

    <button class="btn btn-primary" type="submit">Submit Request</button>
</form>