@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{ 
    ViewData["Title"] = "Sales Home";
    Layout = "_Layout";
}

<br />

<h1>Sales Dashboard <small>Control your Sign Requests</small></h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Select an option: </h3>
        <div class="btn-group-lg" role="toolbar">
            <button type="button" class="btn-lg">Create Request</button>
            <button type="button" class="btn-lg">Check Status</button>
            <button type="button" class="btn-lg">Old Requests</button>
            <button type="button" class="btn-lg">Account Management</button>
        </div>

        <!-- TODO: add button press handlers -->
        
    </div>
    <div class="panel-body">
        <!-- Changing Panel Options after button press -->

    </div>
    <div class="panel-footer">Panel Footer</div>
</div>

<p>@ViewData["sessionTest"]</p>
