@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@{ 
    ViewData["Title"] = "Sales Home";
    Layout = "_Layout";
}

<div class="page-header">
    <h1>Sales Dashboard <small>Control your Sign Requests</small></h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3></h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel Footer</div>
</div>

<p>@ViewData["sessionTest"]</p>
