@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Future Feature</h1>
        <p class="lead">The functionality of this tab will be implemented in the future.</p>
        <hr class="my-4" />
        <p class="lead">Managers will be able to view a history of their past requests just as Sales associates can on their previous tab.</p>
    </div>
</div>
