@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using SignRequestExpress.Models.PageViews

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SRE</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/jquery/dist/jquery.js" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />       
    </environment>

    <environment include="Staging, Production">
        <link rel="stylesheet" href="~/lib/jquery/dist/jquery.min.js" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bundle.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bundle.min.js" />
        <link rel="stylesheet" href="~/lib/popper.js/packages/popper/bundle.js" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
</head>

<body>
    @if (IsSectionDefined("TEST"))
    {
        @RenderSection("TEST", required: false)
    }
    else
    {

    }

    @if (SignInManager.IsSignedIn(User))
    {
        <nav class="navbar navbar-inverse fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="dropdown">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand dropdown-toggle" role="button" id="brandDropdown"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sign Request Express</a>

                    <div class="dropdown-menu" aria-labelledby="brandDropdown">
                        <a class="dropdown-item nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <a class="dropdown-item nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        <a class="dropdown-item nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item nav-link" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                    </div>

                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @if (User.IsInRole("Sales"))
                    {
                        <ul class="nav navbar-nav mr-auto">
                            <li><a asp-controller="Sales" asp-action="Index" class="nav-link">Your Dashboard</a></li>
                        </ul>
                    }
                    else if (User.IsInRole("Executive"))
                    {
                        <ul class="nav navbar-nav mr-auto">
                            <li><a asp-controller="Executive" asp-action="Index" class="nav-link">Executive Dashboard</a></li>
                        </ul>
                    }
                    else if (User.IsInRole("Administrator"))
                    {
                        <ul class="nav navbar-nav mr-auto">
                            <li><a asp-controller="Administrator" asp-action="Index" class="nav-link">Admin Dashboard</a></li>
                        </ul>
                    }
                    else if (User.IsInRole("SignShop"))
                    {
                        <ul class="nav navbar-nav mr-auto">
                            <li><a asp-controller="SignShop" asp-action="Index" class="nav-link">SignShop Dashboard</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav mr-auto">
                            <li><a asp-controller="Default" asp-action="Index" class="nav-link">Access</a></li>
                        </ul>
                    }

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-inverse fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Sign Request Express</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    }

    <partial name="_CookieConsentPartial" /> 

    <div class="container body-content">
        @RenderBody()
        <hr />
        <partial name="_Footer" />
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
